* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@import"_variables.scss";


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $dark-color;
  text-align: center;
  @media (max-width: 425px) {
    font-size: 25px;
    line-height: 38px;
  }
}

ul {
  list-style-type: none;
}

@import"blocks/header";
@import"blocks/advantages";
@import"blocks/promo";
@import"blocks/products";
@import"blocks/categories";
@import"blocks/blog";
@import"blocks/newsletter";
@import"blocks/footer";
@import"blocks/afterfooter";
@import"blocks/slick";
@import"blocks/mobile";