.advantages {
  background-color: $accent-color;
  padding: 11px 40px;
  &__wrapper {
    display: flex;
    justify-content: center;
    max-width: 983px;
    margin: 0 auto;
  }
  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: $white-color;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__icon {
    margin-right: 15px;
  }
  &__part {
    display: flex;
    justify-content: center;
    &:first-child {
      margin-right: 30px;
    }
  }
  @media (max-width: 435px) {
    padding: 20px 26px 18px 47px;
    &__wrapper {
      flex-wrap: wrap;
    }
    &__item {
      flex-direction: column;
      margin-right: 0;
      &:first-child {
        margin-right: 39px;
      }
    }
    &__text {
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
    }
    &__container {
      padding: 0;
    }
    &__icon {
      margin-right: 0;
    }
    &__part {
      justify-content: space-between;
      &:first-child {
        margin-bottom: 15px;
        margin-right: 0;
      }
    }
    &__icon {
      margin-bottom: 8px;
    }
  }
}