.blog {
  background-color: $light-grey;
  padding: 80px 0;
  &__wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-size: 14px;
    line-height: 18px;
    color: $dark-color;
    text-align: center;
    margin-top: 10px;
  }
  &__image {
    margin-bottom: 15px;
    object-fit: cover;
  }
  &__date {
    font-size: 14px;
    line-height: 18px;
    color: $dark-color;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: $dark-color;
    margin-top: 5px;
  }
  &__post {
    display: block;
    max-width: 387px;
    margin-right: 21px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: 1025px) {
    &__image {
      width: 100%;
    }
  }
  @media (max-width: 435px) {
    padding: 50px 0 48px 0;
    &__wrapper {
      flex-direction: column;
    }
    &__post {
      display: flex;
      flex-direction: column;
      margin-right: 0;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
    &__subtitle {
      text-align: center;
    }
  }
}