.categories {
  padding: 101px 0 82px 0;
  &__categories {
    display: flex;
    justify-content: space-between;
  }
  &__category {
    display: flex;
    width: 389px;
    height: 260px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 20px;
    margin-right: 15px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    &:after {
      content: "";
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.54) 0%, rgba(128, 128, 128, 0) 100%, rgba(255, 255, 255, 0) 100%);
    }
    &:hover {
      &:after {
        display: block;
      }
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: $white-color;
  }
  &__title {
    padding-top: 60px;
    font-size: 25px;
    line-height: 25px;
  }
  &__options {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    align-items: center;
  }
  &__option {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: $white-color;
    text-align: center;
    background-color: $accent-color;
    padding: 10px 30px;
    border-radius: 18px;
    margin-right: 15px;
    margin-left: 15px;
  }
  @media (max-width: 1025px) {
    &__category {
      width: 374px;
      height: 260px;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @media (max-width: 769px) {
    &__category {
      margin-right: 0;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__categories {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 435px) {
    padding: 36px 0 35px 0;
    background-color: $light-grey;
    &__container {
      padding: 0;
    }
    &__category {
      width: 100%;
      &:hover {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.54) 0%, rgba(128, 128, 128, 0) 100%, rgba(255, 255, 255, 0) 100%);
      }
    }
    &__title {
      padding-top: 35px;
      font-size: 20px;
      line-height: 25px;
      max-width: 160px;
    }
    &__other {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    &__options {
      flex-direction: column;
      a:first-child {
        margin-bottom: 25px;
      }
    }
  }
}