.slick-slide .promo__mobile {
  display: none;
}

.promo {
  &__slide {
    img {
    width: 100%;
  }
  }
  &__mobile {
    display: none;
  }
  @media (max-width: 435px) {
    &__desktop {
      display: none;
    }
    &__mobile {
      display: block;
      margin-bottom: 16px;
    }
    .slick-slide .promo__desktop {
      display: none;
    }
    .slick-slide .promo__mobile {
      display: block;
    }
  }
}
