.products {
  padding-top: 50px;
  &__subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: $dark-color;
    margin-bottom: 10px;
  }
  &__image {
    width: 100%;
  }
  &__product {
    position: relative;
    padding: 15px 25px 15px 25px;
    background: rgba(255, 255, 255, 0.002);
    box-shadow: 0px 3px 6px #F0F0F0;
    border-radius: 4px;
    margin-right: 14px;
    margin-bottom: 5px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 335px;
  }
  &__slider {
    display: flex;
    padding: 0 20px;
    margin-top: 30px;
    position: relative;
  }
  &__actual {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
  }
  &__old {
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #989898;
  }
  &__cart {
    width: 40px;
    height: 40px;
    border: 1px solid #00BEFF;
    border-radius: 40px;
    background-color: $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 10px;
  }
  @media (max-width: 425px) {
    padding: 35px 0;
    &__old {
      display: none;
    }
    &__product {
      max-width: 215px;
      padding: 15px;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 36px;
    }
  }
}